.container {
    width: 1280px;
    margin: 0 auto;
    font-family: Arial;
}

.padding-site {
    padding: 50px;
    box-sizing: border-box;
}

/*============================Header=============================*/

.main-header {
    width: 100%;
    min-height: 323px;
    background-color: #445162;
    color: #fff;
}

.main-header:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.main-header-wrp {
    width: 500px;
    float: left;
}

.main-header-title {
    display: block;
    margin: 0 0 20px 0;
    font-size: 60px;
    line-height: 0.9;
    font-weight: 400;
    color: #ffffff;
}

.main-header-list {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 35px;
}

.main-header-list-item {
    margin: 0 0 3px 0;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
    position: relative;
}

.main-header-list-item:nth-child(4) {
    margin: 0;
}

.main-header-list-item:before {
    content: "";
    display: block;
    width: 25px;
    height: 19px;
    background-image: url(../img/check_icon.png);
    background-size: cover;
    position: absolute;
    top: 7px;
    left: -35px;
}

.main-header-img {
    display: block;
    float: right;
    width: 469px;
    height: 214px;
    background-color: #fff;
    color: black;
}

/*===========================Main===============================*/

.content {
    width: 100%;
}

/*========================About product=========================*/

.about-product {
    width: 100%;
    min-height: 345px;
}

.about-product:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.about-product-wrp {
    width: 660px;
    float: left;
}

.about-product-title {
    display: block;
    margin: 0 0 20px 0;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
}

.about-product-text {
    margin: 0 0 10px 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

.about-product-video {
    width: 430px;
    height: 245px;
    background-color: #445161;
    float: right;
}

/*===========================Dignity===========================*/

.dignity {
    width: 100%;
    background-color: #f5f5f5;
    display: flex;
    flex-wrap: wrap;
}

.section-title {
    display: block;
    margin: 0 0 28px 0;
    width: 100%;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
}

.dignity-item-wrp {
    width: 50%;
}

.dignity-item {
    width: 100%;
    min-height: 65px;
    margin: 0 0 30px 0;
    padding: 0 0 0 40px;
    box-sizing: border-box;
}

.dignity-item:last-child {
    margin: 0;
}

.dignity-item-title {
    /*for firefox*/
    display: block;
    outline: none;
    position: relative;
}

/* for Chrome and Safari's*/
.dignity-item-title::-webkit-details-marker {
    display: none;
}

.dignity-item-title:before {
    content: "+";
    display: block;
    width: 32px;
    height: 32px;
    background-color: #445161;
    color: #fff;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    line-height: 32px;
    position: absolute;
    top: 1px;
    left: -40px;
}

/*===========================Screenshot=======================*/

.screenshot {
    width: 100%;
    min-height: 467px;
    background-color: #fff;
}

.screenshot-figure-wrp {
    display: flex;
    flex-wrap: wrap;
}

.screenshot-figure {
    margin: 0;
    width: 50%;
    padding: 0 0 30px 0;
    box-sizing: border-box;
}

.screenshot-img {
    display: block;
    float: left;
    width: 200px;
    height: 150px;
    background-color: #445161;
}

.screenshot-caption {
    padding: 0 0 0 220px;
}

.screenshot-figure:nth-child(n+2) {
    padding: 0;
}

.caption-title {
    margin: 0;
    padding: 0 0 10px 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #445161;
}

.caption-text {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #333333;
}
